.recommendedVideos {
    background-color: #f9f9f9;
}
.recommendedVideos_videos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.pagination{
    display: flex;
    justify-content: center;
    color: rgb(58, 1, 58); 
    margin: 26px;
}
button{
    border: 1px solid rgb(58, 1, 58);
    background-color: transparent;
    border-radius: 8px ;
    display: inline;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 16px;
    color: rgb(58, 1, 58); 
}
button:hover{
    border: 2px solid rgb(58, 1, 58);
    background-color: transparent;
    display: inline;
    font-weight: 700;
    font-size: 16px;
    color: rgb(58, 1, 58); 
}
.pagination span{
    margin: 10px;
}
.disabled-button {
    opacity: 0.5;
    pointer-events: none;
  }
  